include README.md
recursive-include octoprint_ControlCenter_g3d/ui *
recursive-include octoprint_ControlCenter_g3d/config *
recursive-include octoprint_ControlCenter_g3d/Feeltek *
recursive-include octoprint_ControlCenter_g3d/firmware *
recursive-include octoprint_ControlCenter_g3d/gcode *
recursive-include octoprint_ControlCenter_g3d/hurry *
recursive-include octoprint_ControlCenter_g3d/models *
recursive-include octoprint_ControlCenter_g3d/moonrakerClient *
recursive-include octoprint_ControlCenter_g3d/octoprint_client *
recursive-include octoprint_ControlCenter_g3d/processAutomationController *
recursive-include octoprint_ControlCenter_g3d/temperatureController *
recursive-include octoprint_ControlCenter_g3d/utils *
include versioneer.py
include octoprint_ControlCenter_g3d/_version.py