########################################
# ELECTRONICS_CHAMBER_COOLING.cfg
# Controller / Electronics cooling fans
# Author: Vijay Raghav Varada
# Version: 1
########################################

[controller_fan 8038fan]
pin: PF9
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z

[controller_fan 8038fan1]
pin: PF6
heater: heater_bed
stepper: stepper_x, stepper_y, stepper_z