########################################
# printer.cfg
# Main configuration used by klipper.
# This is the only file to be modified for
# every printer variant/SKU
# Author: Vijay Raghav Varada
# Version: 5.0
########################################


########################################
# Include .cfg Files
# Order in which files included is important
# for function overrides & references downstream
########################################

########################################
# Select Any One Printer Configuration
#[include PRINTER_TWINDRAGON_600x300.cfg]
#[include PRINTER_TWINDRAGON_600_V1.cfg]
#[include PRINTER_TWINDRAGON_600_V2.cfg]
#[include PRINTER_TWINDRAGON_400_V1.cfg]
#[include PRINTER_TWINDRAGON_400_V2.cfg]
#[include PRINTER_TWINDRAGON_300.cfg]
[include PRINTER_1M.cfg]
#[include PRINTER_DRAGON_400.cfg]
#[include PRINTER_DRAGON_400_V2.cfg]
#[include PRINTER_DRAGON_500.cfg]
#[include PRINTER_DRAGON_700.cfg]
#[include PRINTER_VOLTERRA_ALF.cfg]
########################################

########################################
# MCU Config
########################################

[mcu]
canbus_uuid: a4615e477fbc

# Toolhead MCUs — comment in once CAN toolheads are connected
[mcu toolhead0]
canbus_uuid: a259717c0e9a

#[mcu toolhead1]
#canbus_uuid: XXXXXXXXXXX


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.000


